* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #ffe6f0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}

.container {
  display: flex;
  width: 1000px;
  min-height: 600px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
}

.left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom right, #ffa7f8, #ffc9f3);
}

.left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cadastro-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #cc3366;
}

.cadastro-form input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  background: #cc3366;
  color: white;
  border: none;
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #b22d5c;
}

.signup {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.signup a {
  color: #cc3366;
  text-decoration: none;
}



.voltar {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
  font-size: 16px;
  color: #cc3366;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.voltar:hover {
  color: #b22d5c;
}
