
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:  #ffe6f0;
}

.container {
  display: flex;
  width: 850px;
  height: 500px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;

}
.left {
  flex: 1;
  background: #ffd6e7;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  overflow: visible; /* IMPORTANTE! */

}

.right {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    overflow-y: inherit;
}

.voltar {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
  font-size: 16px;
  color: #cc3366;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  width: 100%;
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group input[type="password"] {
  margin-bottom: 5px;
}

.form-group .error {
  color: red;
  font-size: 0.9em;
}

.form-actions {
  display: flex;
  justify-content: center;
  margin-top: -11px;
}

.form-actions button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.form-actions button:hover {
  background-color: #0056b3;
}

.foto-container {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.foto-usuario {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ccc;
  display: block;
}

.editar-foto {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 18px;
}

.foto-container:hover .editar-foto {
  opacity: 1;
}

.senha-group {
  position: relative;
}

.senha-group input {
  width: 92%;
  padding: 10px 40px 10px 10px; 
  border: 1px solid #ccc;
  border-radius: 4px;
}

.toggle-senha {
  position: absolute;
  top: 65%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: black;
  font-size: 18px;
  user-select: none;
}


.toggle-senha i {
  font-size: 16px;
}
