<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carrinho - Glow & Glam</title>
    <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}">
    <script src="{{ url_for('static', path='script.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <body>
  <!-- Cabeçalho -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>


<nav class="navbar navbar-expand-lg navbar-light navbar-custom">
   
 <a class="navbar-brand" href="/">GLOW & GLAM</a>  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav mr-auto">
     
      <li class="nav-item">
        <a class="nav-link" href="/promoção">Promoção</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)" onclick="mostrarPopupSobre()">Sobre</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>

       <li class="nav-item">
      <a class="nav-link" href="/carrinho">
          <i class="fas fa-shopping-cart"></i>
      </a>
  </li>
      
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Produtos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/maquiagem">Maquiagem</a>
          <a class="dropdown-item" href="/perfume">Perfume</a>
          <a class="dropdown-item" href="/skincare">Skin Care</a>
          <a class="dropdown-item" href="/gloss">Gloss/Batom</a>
          <a class="dropdown-item" href="/hidratante">Hidratante</a>
          <a class="dropdown-item" href="/body">Body Splash</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/adm">ADM</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
      <button class="btn btn-rosa my-2 my-sm-0" type="submit">Pesquisar</button>
    </form>
   
 
  </div>
</nav>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>


  <section id="produtosCarrinho">
    <h2>Itens no Carrinho</h2>
    {% for produto in carrinho %}
      <button type="button" onclick="excluirDoCarrinho('{{ produto.ID_PROD_PEDIDO }}')">❌</button>
      <img src="data:image/jpeg;base64,{{ produto.imagem_base64 }}">
      <h4>{{ produto.NOME }}</h4>
      <p>R${{ produto.VALOR }}</p>
  
      <div id="altQtd">
        <p>Quantidade: {{ produto.QUANTIDADE }}</p>
        <button type="button" onclick="mostrarAlterarQuantidade('{{ produto.ID_PROD_PEDIDO }}')">Alterar Quantidade</button>
        <form onsubmit="alterarQuantidade(event, '{{ produto.ID_PROD_PEDIDO }}')">
          <input type="number" id="quantidade-{{ produto.ID_PROD_PEDIDO }}" style="display: none;">
          <button type="submit" id="btnAltQtd-{{ produto.ID_PROD_PEDIDO }}" style="display: none;">Confirmar Alteração</button>
        </form>

      </div>
    {% endfor %}
  </section>


    <section id="totalCarrinho">
      <h3>Total: R$ <span id="totalValor">{{total}}</span></h3>
    </section>

    <button onclick="finalizarCompra()">Finalizar Compra</button>

    <button class="open-btn" onclick="abrirMenu()">☰</button>

    <div id="sidebar" class="sidebar">
      <span class="close-btn" onclick="fecharMenu()">&times;</span>
      <a href="#" onclick="navegarPara('primeira.html')">Início</a>
      <a href="#" onclick="toggleSubMenu()">Produtos ▼</a>
      <ul id="subMenuMobile" class="submenu-mobile">
        <li><a href="maquiagem.html">Maquiagem</a></li>
        <li><a href="perfume.html">Perfume</a></li>
        <li><a href="skincare.html">Skin Care</a></li>
        <li><a href="gloss.html">Gloss/Batom</a></li>
        <li><a href="body.html">Body Splash</a></li>
        <li><a href="hidratante.html">Hidratante</a></li>
      </ul>
      <a href="#" onclick="navegarPara('carrinho.html')">Carrinho</a>
      <a href="#" onclick="navegarPara('Promoção.html')">Promoção</a>
      <a href="#" onclick="abrirPopupSobre()">Sobre</a>
      <a href="#" onclick="mostrarPopupLogin()" id="loginLink">Login</a>
      <a href="#" onclick="logout()" id="logoutLink">Sair</a>
    </div>
    <script>
      window.onload = function () {
        carregarCarrinho();
      };
    </script>
  </body>
</html>
